@import "./imports/variables";
body, html{
    font-family: 'Caveat', cursive;

    background-color: $background;
    color: $primary;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    img{
        width: 100px;
        height: auto;
    }
    h1{
        font-size: 14px;
    }
    h2{
        font-size: 44px;
    }
    a{
        display: block;
        background: $foreground;
        color: $background;
        padding: 5px 10px;
        font-size: 22px;
        font-family: 'Arial';
        border-radius: 10px;
        width: 130px;
        position: relative;
        margin: 0px auto;
    }
}
