body,
html {
  font-family: "Caveat", cursive;
  background-color: #EEF5DB;
  color: #A20021;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

body img,
html img {
  width: 100px;
  height: auto;
}

body h1,
html h1 {
  font-size: 14px;
}

body h2,
html h2 {
  font-size: 44px;
}

body a,
html a {
  display: block;
  background: #333745;
  color: #EEF5DB;
  padding: 5px 10px;
  font-size: 22px;
  font-family: "Arial";
  border-radius: 10px;
  width: 130px;
  position: relative;
  margin: 0px auto;
}

